<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Links Bootstrap -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <title>LISTA NUMEROS</title>

</head>
<body>

<div class="container-fluid d-flex justify-content-center align-items-center text-center row">

    <table class="table table-striped table2 col-12">
        <thead>
        <tr>
            <th scope="col">Numero Producido</th>
            <th scope="col">Eliminar numero</th>
        </tr>
        </thead>  
        <tbody>

        </tbody>  
    </table> 
    <a class="col-12">
        <button class="btn btn-danger" onclick="insertanumero()">Insertar Numero JavaScript</button>
        </a>
    <p id="lista_javaScript"></p>  
    <p id="lista_array"></p> 
    <p id="eliminar"></p>    


    <!--
    <table class="table table-striped col-12">
        <thead>
        <tr>
            <th scope="col">Numero Producido</th>
            <th scope="col">Eliminar numero</th>
        </tr>
        </thead>
        
        <tr th:each="numero : ${listaNumeros}">
            <td scope="col" th:text="${numero}"></td>
            <td scope="col"><a th:href="@{/numeroEliminado/{id}(id=${numero})}">Eliminar numero</a></td>
        </tr>
   
    </table> 
    <a class="col-12" th:href="@{/nuevoNumero}">
        <button class="btn btn-primary">Insertar numero Spring</button><br>
    </a>
    <p>La lista tiene en SPRING <span th:text="${tamanoLista}"></span>números</p>
-->
    
</div>


<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="script.js"></script>
<script>
</script>
</body>
</html>